
body
  background url(bg.jpg)
  margin 0px
  overflow hidden

table
  border-width 0px
  border-collapse collapse

td, tr
  padding 0px
  margin 0px

iframe
  background hsla(240,50,20,0.9)
  border-width 0px
  margin-bottom -4px
  box-shadow 0px 0px 20px hsl(240,50,20)